<app-navbar></app-navbar>
<div class="card">
      <div class="cover">
        <img src="images/rotating_card_thumb3.png" alt=""/>
      </div>
      <div class="user">
        <img class="img-circle" src="images/rotating_card_profile.png" alt=""/>
      </div>
      <div class="content">
        <div class="main">
          <h3 class="name">Inna Corman</h3>
          <p class="profession">Product Manager</p>

          <p class="text-center">"I'm the new Sinatra, and since I made it here I can make it anywhere, yeah, they love me everywhere"</p>
        </div>
      </div>
  </div> <!-- end card -->

